<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/" >Add data</a></button>
    <br>
    <br>
    <br>
    
    <h2>Form Data </h2>
    <table border="3">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
        {% for test in test_data %}
        <tr>
            <th>{{test.name}}</th>
            <th>{{test.age}}</th>
            <th>{{test.city}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>