<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Users List</h1>
    <table border="4">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Trainer</th>
        </tr>
        {% for i in test_user %}
        <tr>
            <th>{{i.name}}</th>
            <th>{{i.age}}</th>
            <th>{{i.Trainer}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>